@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-position: center center;
}

main{
    height: 100vh;
    position: relative;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 627px;
    width: 311px;
    transform: translate(-50%, -50%);
    background: url(../imagens/frame-iphone.png) no-repeat center center;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 23px;
    width: 269px;
    height: 471px;
}


section#redes-sociais{
    position: absolute;
    left: 100%;
    transform: translate(-100%);
}
div.button{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 20px 20px;
}

div.button:hover{
    transform: translate(-3px,-3px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.523);
    border: 1px solid white;
    transition: transform .3s, border .7s;
}

#github{
    background:greenyellow url(../imagens/logo-github.jpg) no-repeat;
    background-size: cover;
}

#instagram{
    background:rgb(236, 94, 118) url(../imagens/logo-instagram.jpg) no-repeat;
    background-size: cover;
}

#yt{
    background:rgb(155, 2, 2) url(../imagens/logo-youtube.jpg) no-repeat;
    background-size: cover;
}

#twitter{
    background: rgb(105, 195, 225) url(../imagens/logo-twitter.jpg) no-repeat;
    background-size: cover;
}

#home{
    background: lightgrey url(../imagens/logo-home.jpg) no-repeat;
    background-size: cover;
}